<a href="https://colab.research.google.com/github/Ian-Leidner/nyu-python-public-policy/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import drive

In [0]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header ='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df['Created Date'].max()

'12/31/2018 12:59:41 PM'

In [0]:
df['Created Date'].min()

'01/01/2019 01:00:00 PM'

In [0]:
#The min is a later date than the max. Also, the max is the last of a year and the min is the first of a year.   
#I think this is because min and max are looking at a calendar year as a unit of measurement and is not taking into account intermediary values.

In [0]:
df.head(1)

   Unique Key  ...                                Location
0    39888071  ...  (40.79333937834769, -73.9429417746998)

[1 rows x 41 columns]

In [0]:
df.tail(1)

         Unique Key  ...                                 Location
2859199    43623704  ...  (40.63679359185655, -74.15397942810047)

[1 rows x 41 columns]

In [0]:
#Do you have a trick for remembering when to use different kinds of brackets? 
#Why did the code return 'dict_keys' after doing city_population.keys() when that didn't come up in the example?